
.container{ 
           
    display: grid;
    grid-template-columns: repeat;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);



}


.image{
        
        width: 100%;
        background-size: cover;



}

.class01{
     font-size: 50px;
}
